.abt-content {
    display: flex;
    height: 100%;
    width: 100%;

    .info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    p {
        font-size: 1.3rem;
        text-align: center;

        .highlight {
            cursor: pointer;
            color: $primary;
            position: relative;
        }

        .highlight::before {
            content: '';
            height: 13px;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: $primary;
            opacity: 0.2;
            clip-path: inset(0 100% 0 0);
            transition: all 600ms ease;
        }

        .highlight:hover::before {
            clip-path: inset(0 0 0 0);
        }

        .highlight::after {
            content: '';
            height: 14px;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: darken($primary, 20%);
            opacity: 0.2;
            clip-path: inset(0 0 0 100%);
            transition: all 600ms ease;
        }

        .highlight:hover::after {
            clip-path: inset(0 0 0 0);
        }
    }

    a {
        font-size: 1.1rem;
        text-decoration: none;
        color: $primary;
        position: relative;
        text-align: center;
        width: fit-content;
    }

    a:hover::after {
        clip-path: inset(0 0 0 0);
    }

    a::after {
        content: '';
        height: 3px;
        width: 100%;
        position: absolute;
        bottom: -10px;
        left: 0;
        background-color: darken($primary, 20%);
        clip-path: inset(0 100% 0 0);
        transition: all 600ms ease;
    }

    a:hover {
        color: darken($primary, 10%);
    }
}