@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

h1 {
    font-size: 3rem;
    position: absolute;
    top: 20%;
}

.contact-cont {
    height: 70%;
    background-color: $primary;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 40px 40px 0 0;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;

    form {
        width: 30%;

        input {
            width: 100%;
            margin-bottom: 25px;
            height: 40px;
            font-family: 'Sora', 'sans-serif';
            padding: 0 8px;
            font-size: 1rem;
        }

        #message {
            margin-bottom: 25px;
            font-family: 'Sora', 'sans-serif';
            resize: none;
            padding: 5px 8px;
            font-size: 1rem;
            width: 100%;
        }

        button {
            height: 40px;
            width: 20%;
            border-radius: 40px;
            cursor: pointer;
            margin-left: calc(50% - 55px);
        }
    }
}