h1 {
    font-size: 3rem;
    position: absolute;
    top: 20%;
}

.contact-cont {
    height: 70%;
    background-color: $primary;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 40px 40px 0 0;
    opacity: 0.7;
}