@media screen and (max-width: 800px) {
    .navbar .fas {
        visibility: visible;
    }

    .navbar {

        .navbar-container {
            position: relative;

            .navbar-links {
                position: absolute;
                flex-direction: column;
                text-align: center;
                width: 100%;
                top: 5.4rem;
                clip-path: inset(0 0 100% 0);
                transition: all 800ms ease;
                z-index: 1;

                .navbar-link-container {
                    border-right: none;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
                    padding: 0;
                    padding: 5px 0;
                    cursor: pointer;
                    background-color: white;
                }

                .navbar-link-container:hover {
                    background-color: rgb(218, 218, 218);
                }

                .navbar-link:hover::after {
                    content: none;
                }
            }

            .navbar-links.open {
                clip-path: inset(0 0 0 0);
            }
        }
    }
}