@import 'colors';

.navbar {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);

    .fas {
        cursor: pointer;
        visibility: hidden;
    }

    .fas:hover {
        animation: pulse 1.5s infinite;
    }

    .navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0;
        margin: auto;
        width: 90%;
    
        img {
            height: 80px;
            width: 80px;
            transition: transform 500ms ease;
        }

        img:hover {
            transform: rotateZ(360deg);
        }
    
        .navbar-links {
            list-style: none;
            display: flex;
    
            .navbar-link-container {
                padding: 0 20px;
                position: relative;
                border-right: 1px solid rgba(0, 0, 0, 0.5);
            }
    
            .navbar-link {
                text-decoration: none;
                color: black;
                font-size: 2rem;
            }

            .navbar-link:hover {
                color: $primary;
            }

            .navbar-link::after {
                content: '';
                height: 3px;
                width: 100%;
                position: absolute;
                bottom: -15px;
                left: 0;
                background-color: $primary;
                clip-path: inset(0 100% 0 0);
                transition: all 300ms ease;
            }

            .navbar-link:hover::after {
                clip-path: inset(0 0 0 0);
            }
        }
    }
}

@keyframes pulse {
    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}