@import 'colors';

.red-circle5 {
    @extend %shape-m;
    left: calc(#{$shape-size-m} / 2 * -1);
    top: calc(50% - (#{$shape-size-m}/2));
}

.red-circle6 {
    @extend %shape-m;
    right: calc(#{$shape-size-m} / 2 * -1);
    top: calc(50% - (#{$shape-size-m}/2));
}

.content-cont {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    min-height: 521px;
    text-align: center;
    position: relative;
    
    h1 {
        font-size: 2rem;
        position: relative;
        margin-bottom: 30px;
    }

    h1::after {
        content:'';
        position: absolute;
        bottom: -15px;
        left: 0;
        width: 100%;
        background-color: $primary;
        height: 3px;
    }

    .skills-container {
        display: grid;
        padding: 10px 10px;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 213.5px;
        row-gap: 2em;
        column-gap: 3rem;
        justify-items: center;

        .card-container {
            width: 180px;
            height: 213.5px;
            perspective: 1000px;
        }
    
        .item {
            position: relative;
            width: 100%;
            height: 100%;
            cursor: pointer;
            border-radius: 40px;
            transition: all 700ms ease;
            transform-style: preserve-3d;

            .front, .back {
                width: 100%;
                height: 100%;
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 1.5rem;
                text-align: center;
                backface-visibility: hidden;
                background-color: rgb(223, 223, 223);
                border-radius: 40px;
                border: 2px solid black;
                transition: all 400ms ease;
            }

            .front {
                opacity: 0.5;
            }

            .back {
                transform: rotateY(180deg);
                font-size: 0.8rem;
                padding: 5px 5px;
            }
    
            i {
                margin-bottom: 30px;
            }
        }

        .item.flipped {
            transform: rotateY(180deg);
        }
    
        .front:hover {
            transform: scale(1.06);
            opacity: 1;
        }
    
        #python:hover i{
            color: $python;
        }

        #python {
            .back {
                background-color: $python;
                color: white;
            }
        }
    
        #js:hover i {
            color: $js-light;
            background-color: $js-dark;
    
        }

        #js {
            .back {
                background-color: $js-light;
                color: $js-dark;
            }
        }
    
        #html:hover i{
            color: $html;
        }

        #html {
            .back {
                background-color: $html;
                color: black;
            }
        }
    
        #css:hover i{
            color: $css;
        }

        #css {
            .back {
                background-color: $css;
                color: white;
            }
        }
    
        #sass:hover i{
            color: $sass;
        }

        #sass {
            .back {
                background-color: $sass;
                color: black;
            }
        }
    
        #vue:hover i{
            color: $vue;
        }

        #vue {
            .back {
                background-color: $vue;
                color: black;
            }
        }
    
        #git:hover i{
            color: black;
        }

        #git {
            .back {
                background-color: black;
                color: white;
            }
        }
    
        #brain:hover i{
            color: $brain;
        }

        #brain {
            .back {
                background-color: $brain;
                color: black;
            }
        }
    }
}

.content-cont::after {
    content:'';
    position: absolute;
    bottom: -60px;
    left: 0;
    width: 100%;
    background-color: $primary;
    height: 3px;
}
