$shape-size: 300px;

%shape-cont {
    position: absolute;
    height: $shape-size;
    width: $shape-size;
}

%shape {
    height: $shape-size;
    width: $shape-size;
    opacity: 0.5;
    transform: rotateZ(180deg);
}