@import 'utilities';

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 250px;
    gap: 2em;

    .project-cont {
        border: 1px solid black;
        border-radius: 40px;
        cursor: pointer;
        transition: all 500ms ease;
        position: relative;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            border-radius: 40px;
        }

        .res-img {
            @extend %small-proj-img;
        }

        .extra-info {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            background-color:rgba(227, 0, 4, 0.9);
            color: white;
            border-radius: 40px;
            padding: 1em;
            transform: translateY(101%);
            transition: all 500ms ease;
            font-size: 17px;
            display: flex;
            flex-flow: column;

            .skills {
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                margin: 0.75em 0;

                ul {
                    list-style: none;
                    display: flex;

                    li {
                        font-size: 14px;
                        padding: 0.5rem;
                        margin: 0 1em;
                        border: 1px solid white;
                        border-radius: 10px;
                    }
                }
            }

            .project-links {
                button {
                    height: 50px;
                    margin: 0 1rem;
                    cursor: pointer;
                    border-radius: 10px;
                    border: none;
                    background-color: white;
                    color: black;
                    font-family: 'Sora', sans-serif;
                    width: 150px;
                    transition: all 300ms ease;
                    position: relative;
                    font-size: 15px;
                }
    
                i {
                    transition: transform 300ms ease;
                    margin-left: 5px;
                }
    
                button::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background-color: rgba(19, 19, 19, 0.3);
                    border-radius: 10px;
                    transition: all 300ms ease;
                    opacity: 0;
                }
    
                button:hover::after {
                    opacity: 1;
                }
    
                button:hover i {
                    transform: translateX(5px);
                }
            }
        }
    }

    .project-cont:hover {
        transform: scale(1.05);
    }

    .project-cont:hover .extra-info {
        transform: translateY(0);
    }
}
