@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
@import 'navbar';
@import 'mobile';
@import 'landing-content';
@import 'skills-content';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    line-height: 1.6;
    font-family: 'Sora', sans-serif;
    width: 100%;
    height: 100vh;
    // scroll-behavior: smooth;
}

.page {
    width:100%;
    height:100%;
    scroll-behavior: smooth;
}


