@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
@import 'navbar';
@import 'mobile';
@import 'landing-content';
@import 'about';
@import 'skills-content';
@import 'work-content';
@import 'contact-content';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}

body, html {
    line-height: 1.6;
    font-family: 'Sora', sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
}

.page {
    min-width:490px;
    width: 100%;
    height:100%;
}

section {
    width:100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border: 1px solid rgba(0,0,0, 0.1);
}


::-webkit-scrollbar-thumb {
    background: $primary; 
}
  

::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
} 


